<main>
  <section class="main--exchange--container">
    <div class="backgroundImg"></div>
    <section class="main--tables-container">
      <div class="main--currency--table">
        <p class="currency--table--title">Projects</p>
        <div class="currency--table--container">
          <table>
            <tr>
              <td class="table__top-left">Netflix App</td>
              <td class="table__top-right table__right">
                Code<span class="up"></span>
              </td>
            </tr>
            <tr>
              <td>Data Structures</td>
              <td class="table__right">Code <span class="up"></span></td>
            </tr>
            <tr>
              <td>Google Clone</td>
              <td class="table__right">Code <span class="up"></span></td>
            </tr>
            <tr>
              <td class="table__bottom-left">Quick Connection</td>
              <td class="table__bottom-right table__right">
                Code<span class="up"></span>
              </td>
            </tr>
          </table>
        </div>
        <div class="currency--table--date">
          <p>
            <a routerLink="projects"> <b>View More</b></a>
          </p>
        </div>
      </div>
    </section>
  </section>
  <section class="main--product--detail">
    <div class="product--detail--title">
      <h2>Frontent apps and custom development</h2>
      <p>Let's make your app a reality.</p>
    </div>
    <section class="product-class--coiontainer">
      <article class="product--detail--card">
        <span class="clock"></span>
        <p class="product--card--title">Fast Delivery</p>
        <p class="product--card--body">
          Be part of a fast development process during we develop your
          application for your future business.
        </p>
      </article>
      <article class="product--detail--card">
        <span class="eye"></span>
        <p class="product--card--title">Beatiful Websites</p>
        <p class="product--card--body">
          We develop a minimal and futuristic website with the latest desing
          tendences.
        </p>
      </article>
      <article class="product--detail--card">
        <span class="dollar"></span>
        <p class="product--card--title">Competitive Price</p>
        <p class="product--card--body">
          We manage you a competitive price of all the tech industry.
        </p>
      </article>
      <article class="product--detail--card">
        <span class="check"></span>
        <p class="product--card--title">Security and Confidence</p>
        <p class="product--card--body">
          Your website will be part of security procceses using SSL Encryption
          to manage your website hacker-free
        </p>
      </article>
    </section>
  </section>
  <section class="bitcoin--img--container">
    <h2>Be Part of it</h2>
  </section>
  <section id="plans" class="main--plans--container">
    <div class="plans--tittle">
      <h2>Choose the plan that fit your business.</h2>
      <p>Proce depends of the demand of your project</p>
    </div>
    <section class="plans--container--slider">
      <article class="plans--container--card">
        <p class="recommended">Basic</p>
        <div class="plan-info-container">
          <h3 class="plan-card--title">Month</h3>
          <p class="plan-card--price"><span>$</span>20</p>
          <p class="plan-card--saving">
            *Save $129 compared to the weekend plan.
          </p>
          <button class="plan-card--ca">Choose It <span></span></button>
        </div>
      </article>
      <article class="plans--container--card">
        <p class="recommended">Recommended</p>
        <div class="plan-info-container">
          <h3 class="plan-card--title">Anual Payment</h3>
          <p class="plan-card--price"><span>$</span>99</p>
          <p class="plan-card--saving">*Save $129 compared to 3-year plan.</p>
          <button class="plan-card--ca">Choose It <span></span></button>
        </div>
      </article>
      <article class="plans--container--card">
        <p class="recommended">Recommended</p>
        <div class="plan-info-container">
          <h3 class="plan-card--title">Anual Payment</h3>
          <p class="plan-card--price"><span>$</span>99+</p>
          <p class="plan-card--saving">*Your savings depend of the project.</p>
          <button class="plan-card--ca">Choose It <span></span></button>
        </div>
      </article>
    </section>
  </section>
</main>
