.main--tables-container {
  display: flex;
  width: 930px;
  margin: 0 auto;
}
.product-class--coiontainer {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}
.plans--container--slider {
  justify-content: center;
  align-items: center;
}
.bitcoin--img--container h2 {
  padding-top: 150px;
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: white;
  text-align: center;
}
