<app-header></app-header>
<section class="main--exchange--container">
  <div class="backgroundImg"></div>
  <div class="main--exchange-container--title">
    <h2>My GitHub Repositories, a code story.</h2>
    <p>
      Here you can find my side projects, were I learn about new tecnlogies.
    </p>
  </div>
  <section class="main--tables-container">
    <div class="main--currency--table">
      <p class="currency--table--title">Projects</p>
      <div class="currency--table--container">
        <table>
          <tr>
            <td class="table__top-left">Netflix App</td>
            <td class="table__top-right table__right">
              Code<span class="up"></span>
            </td>
          </tr>
          <tr>
            <td>Data Structures</td>
            <td class="table__right">Code <span class="up"></span></td>
          </tr>
          <tr>
            <td>Google Clone</td>
            <td class="table__right">Code <span class="up"></span></td>
          </tr>
          <tr>
            <td class="table__bottom-left">Quick Connection</td>
            <td class="table__bottom-right table__right">
              Code<span class="up"></span>
            </td>
          </tr>
        </table>
      </div>
      <div class="currency--table--date">
        <p><b>Updated:</b> June 19 23:45</p>
      </div>
    </div>
    <div class="main--currency--table">
      <p class="currency--table--title">More Projects</p>
      <div class="currency--table--container">
        <table>
          <tr>
            <td class="table__top-left">Campus Virtual</td>
            <td class="table__top-right table__right">
              Code<span class="up"></span>
            </td>
          </tr>
          <tr>
            <td>Biblioteca</td>
            <td class="table__right">Code<span class="up"></span></td>
          </tr>
          <tr>
            <td>Conectify</td>
            <td class="table__right">Code<span class="up"></span></td>
          </tr>
          <tr>
            <td class="table__bottom-left">Mern Stack</td>
            <td class="table__bottom-right table__right">
              Code<span class="up"></span>
            </td>
          </tr>
        </table>
      </div>
      <div class="currency--table--date">
        <p>
          <a routerLink="projects"> <b>View More</b></a>
        </p>
      </div>
    </div>
  </section>
</section>
<app-footer></app-footer>
