<footer>
  <section class="left">
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/andrey-mora-v%C3%A1squez-4132b2106/"
          target="_blank"
          >Linkedin<span class="linkedin"> </span
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/kevinmora47" target="_blank"
          >Twitter<span class="twitter"> </span
        ></a>
      </li>
      <li>
        <a
          href="https://github.com/kevinmora47?tab=repositories"
          target="_blank"
          >GitHub<span class="instagram"> </span
        ></a>
      </li>
    </ul>
  </section>
  <section class="right">
    <img src="./assets/micelanious/logo.svg" height="50" alt="" />
  </section>
</footer>
